- NEVER create summary markdown files, documentation files, or README files unless explicitly requested
- Never edit any lockfiles manually. That includes poetry files and pyproject.toml.
- Always run unit/integration tests.
- Test coverage should always be 80% or more.
- When using `git`, always use it without a pager.

