.DS_Store
__pycache__
venv
enriched_sbom.cdx.json
test_cargo_generation.json
test_docker_image_generation.json
test_conan_generation.json
sbom_output.json
.coverage
step_1.json
additional_packages.txt
.cursor
node_modules
