---
name: Integration Tests

on:  # yamllint disable-line rule:truthy
  push: null
  pull_request: null

jobs:
  build:
    name: Integration Tests
    runs-on: ubuntu-latest

    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build container
        run: |
          docker build . -t gha


      # This is admittably somewhat naive testing, but bether than nothing.
      - name: Run tests
        run: |
          docker run --rm \
            -v $(pwd):/github/workspace \
            -w /github/workspace \
            -e TOKEN=placeholder \
            -e COMPONENT_ID=placeholder \
            -e UPLOAD=false \
            -e PYTHONPATH=/github/workspace \
            gha \
            poetry -C /usr/src/app/ run python tests/test_entrypoint.py

      - name: Run enrichment test
        run: |
          docker run --rm \
            -v $(pwd):/github/workspace \
            -w /github/workspace \
            -e TOKEN=placeholder \
            -e COMPONENT_ID=placeholder \
            -e UPLOAD=false \
            -e SBOM_FILE="tests/test-data/syft.cdx.json" \
            -e ENRICH=true \
            gha
